include LICENSE
include README.md
include CHANGELOG.md
include AUTHORS.md
include CONTRIBUTING.md
include .env.example
include tox.ini
include .importlinter
include .pre-commit-config.yaml
recursive-include src/cra/web/static *
recursive-include src/cra/history/migrations *
recursive-include tests *.py *.txt
recursive-include tests/data *
recursive-include developer *
recursive-include .github *
prune journal
