include LICENSE
include README.md
include .env.example
include tox.ini
include Dockerfile
recursive-include src/cra/app/web/static *
recursive-include src/cra/app/history/migrations *
recursive-include tests *.py *.txt
recursive-include tests/data *
recursive-include developer *
recursive-include .github *
prune journal
